@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .item-middle {
    @apply flex items-center justify-center;
  }

  .item-left {
    @apply flex items-center justify-start;
  }

  .item-around {
    @apply flex items-center justify-around;
  }

  .item-between {
    @apply flex items-center justify-between;
  }

  .item-row {
    @apply flex flex-col items-center justify-between;
  }

  .font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .input-style1 {
    @apply w-64 h-11 rounded-[4px] border text-sm px-4 placeholder:text-[#acacac];
  }
}